[Unit]
Description=Security Containers Server
After=libvirtd.service
Requires=libvirtd.service

[Service]
Type=simple
ExecStart=/usr/bin/security-containers-server
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
